# =========================
# PYTHON
# =========================

__pycache__/
*.py[cod]
*$py.class

# =========================
# VIRTUAL ENV
# =========================

venv/
.venv/
env/
ENV/

# =========================
# ENVIRONMENT VARIABLES
# =========================

.env
.env.*
!.env.example

# =========================
# BUILD FILES
# =========================

build/
dist/
downloads/
.eggs/
*.egg-info/
*.egg

# =========================
# LOGS
# =========================

*.log

# =========================
# DATABASES
# =========================

*.sqlite3

# =========================
# TEST / CACHE
# =========================

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS FILES
# =========================

.DS_Store
Thumbs.db

# =========================
# PLAYWRIGHT
# =========================

playwright-report/
test-results/

# =========================
# SCREENSHOTS / TEMP
# =========================

grant_submission.png
tempCodeRunnerFile.py